aenum
av
bokeh>=3.1.1
cairosvg
coverage
customtkinter
cython
easygui
h5py>=3.4.0
holoviews>=1.16.2
inquirer
ipykernel
ipyparallel
ipython
isx
jupyter
jupyter-bokeh
libsvm
lxml
matplotlib
moviepy
mypy
numpy>=1.26,<2.0.0
numpydoc
opencv-python
opencv-contrib-python
pandas
panel>=1.0.2
peakutils>=1.3.5
pims
plotly
prettytable
psutil
pynwb
pyqtgraph
pytest
pytest-cov
rasterio
rich
scikit-image>=0.19.0
scikit-learn>=1.2
scipy>=1.10.1
seaborn
streamlit
tensorflow>=2.4.0,<2.15.0
tifffile
toml
tomli
tqdm
yapf
zarr 